@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBg {
  height: 100%;
  min-height: 800px;
  padding-bottom: 50px;
  background-color: #e8e9eb;
  background-size: cover;
}

.mainSection {
  min-height: 650px;
}

.on {
  opacity: 1;
  top: 3rem;
  height: fit-content;
  max-height: 31.25rem;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .title {
    color: black !important;
  }
}

.navBtn {
  width: 80%;
  height: 0.125rem;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: 0.5s;
}

.navBtn::after,
.navBtn::before {
  width: 100%;
  height: 0.125rem;
  background-color: black;
  position: absolute;
  content: "";
  display: block;
  transition: 0.3s;
}

.navBtn::after {
  top: 0.625rem;
}

.navBtn::before {
  top: -0.625rem;
}

.navBtn.menuOn {
  background-color: #3d3d3d;
}

.navBtn.menuOn::after {
  transform: rotate(45deg);
  background-color: #fff;
  top: 0;
}

.navBtn.menuOn::before {
  transform: rotate(-45deg);
  background-color: #fff;
  top: 0;
}

.mobileMenu {
  background-color: #3d3d3d;
}

.learnBtn {
  cursor: pointer;
}

.arrowContainer {
  position: relative;
  width: 20px;
  height: 2px;
  transition: 0.3s;
}

.arrow {
  background-color: rgb(96, 165, 250);
  position: absolute;
  right: -5px;
  top: 12px;
}

.arrow::after,
.arrow::before {
  display: block;
  content: "";
  width: 10px;
  height: 2px;
  background-color: rgb(96, 165, 250);
  position: absolute;
}

.arrow::after {
  right: 0;
  top: -2px;
  transform: rotate(30deg);
}

.arrow::before {
  right: 0;
  top: 2px;
  transform: rotate(-30deg);
}

.learnBtn:hover > .arrowContainer {
  width: 30px;
}

.learnBtn:hover > .arrow::after {
  background-color: red;
}

.carouselItem {
  min-height: 400px;
  max-height: 600px;
  background-color: #fff;
}

.carouselItem .carouselItemTitle {
  min-height: 84px;
}

.securityBg {
  width: 90%;
  margin: 0 auto;
  min-height: 200px;
  background-image: url("./assets/mountain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.securityPanels {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.redBg {
  background: rgb(232, 133, 133);
  background: linear-gradient(
    0deg,
    rgba(232, 133, 133, 1) 0%,
    rgba(252, 252, 252, 1) 29%
  );
}

.greenBg {
  background: rgb(163, 232, 133);
  background: linear-gradient(
    0deg,
    rgba(163, 232, 133, 1) 0%,
    rgba(252, 252, 252, 1) 29%
  );
}

.yellowBg {
  background: rgb(232, 231, 133);
  background: linear-gradient(
    0deg,
    rgba(232, 231, 133, 1) 0%,
    rgba(252, 252, 252, 1) 29%
  );
}

.blueBg {
  background: rgb(157, 210, 240);
  background: linear-gradient(
    0deg,
    rgba(157, 210, 240, 1) 0%,
    rgba(252, 252, 252, 1) 29%
  );
}

@media (max-width: 1024px) {
  .blueBg,
  .yellowBg,
  .greenBg,
  .redBg {
    background: #fff !important;
  }
}

.redHeader:hover,
.blueHeader:hover,
.yellowHeader:hover,
.greenHeader:hover {
  margin-right: 25px;
  transition: 0.2s;
}

@media (max-width: 1280px) {
  .redHeader:hover,
  .blueHeader:hover,
  .yellowHeader:hover,
  .greenHeader:hover {
    margin-right: 0px;
  }
}

.redHeader:hover .redSpan {
  color: rgb(239, 68, 68);
  transition: 0.3s;
}

.blueHeader:hover .blueSpan {
  color: rgb(96, 165, 250);
  transition: 0.3s;
}

.greenHeader:hover .greenSpan {
  color: rgb(16, 185, 129);
  transition: 0.3s;
}

.yellowHeader:hover .yellowSpan {
  color: rgb(251, 191, 36);
  transition: 0.3s;
}
